<body class= "ordersbody">
	<div class="bg"></div>
			<div class="bg bg2"></div>
			<div class="bg bg3"></div>
	<div class="thanks-message" style="text-align:center; margin:300px;">
		<h2 class= "toptext">ご購入ありがとうございました<i class="fas fa-child fa-fw faa-bounce animated"></i></h2>
	</div>
</body>