<body>
	<h1>会員一覧画面</h1>
	<table>
		<thead>
			<tr>
				<th>会員ID</th>
				<th>氏名</th>
				<th>メールアドレス</th>
				<th>ステータス</th>
			</tr>
		</thead>
		<tbody>
			<% @end_users.each do |end_user| %>
			<tr>
				<td><%= end_user.id %></td>
				<td><%= link_to end_user.first_name,admins_end_user_path(end_user) %></td>
				<td><%= end_user.email  %></td>
				<td><%= "後で記述"  %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</bod