<h1>ながのCAKE</h1>
    <nav>
      <ul>
        <li>
          <%= link_to 'log in'%>
        </li>
        <li>
          <%= link_to 'sign in'%>
        </li>
        <li>
          <%= link_to 'About'%>
        </li>

        <li>
          <%= link_to 'cart'%>
        </li>
      </ul>
    </nav>
  </header>
    <footer><div>フッター</div></footer>